@font-face {
    font-family: "Gilroy Regular";
    src: url("../../../fonts/Gilroy-Regular.ttf");
}

.support-chat {
    display: flex;
    position: fixed;
    bottom: 0px;
    right: 46px;
    width: 400px;
    > .open {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: #137E7E;
        padding: 2px;
        padding-left: 21px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        cursor: pointer;
        user-select: none;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.13);
        > .text {
            font: normal 16px "Gilroy Regular";
            color: white;
        }
        > .logo {
            display: inline-flex;
            width: 49px;
            height: 49px;
            background: url("./assets/logo.png");
        }
    }
    > .chat {
        display: flex;
        flex-direction: column;
        width: 100%;
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.13);
        > .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #137E7E;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 16px 21px;
            > .message {
                display: flex;
                flex-direction: column;
                gap: 6px;
                > .text {
                    margin: 0px;
                    font: normal 16px "Gilroy Regular";
                    color: white;
                    &.second {
                        color: #CDCDCD;
                    }
                }
            }
            > .supporter {
                display: flex;
                align-items: center;
                gap: 18px;
                > .photo {
                    display: inline-flex;
                    width: 40px;
                    height: 40px;
                }
                > .right {
                    display: flex;
                    flex-direction: column;
                    gap: 3px;
                    > .name {
                        font: normal 14px "Gilroy Regular";
                        color: white;
                        margin: 0px;
                    }
                    > .role {
                        font: normal 14px "Gilroy Regular";
                        color: rgba(255, 255, 255, 0.6);
                        margin: 0px;
                    }
                }
            }
            > .close {
                display: inline-flex;
                width: 26px;
                height: 26px;
                background: url("./assets/close.png");
                border: none;
                cursor: pointer;
            }
        }
        > .body {
            display: flex;
            flex-direction: column;
            background: white;
            padding: 18px 22px;
            > .form {
                display: flex;
                flex-direction: column;
                gap: 17px;
                width: 276px;
                margin: auto;
                align-items: center;
                min-height: 350px;
                padding-top: 20px;
                > .title {
                    display: inline-flex;
                    color: #595959;
                    font: normal 20px "Gilroy Regular";
                    margin: 0px;
                    &.center {
                        justify-content: center;
                    }
                }
                > .input {
                    display: inline-flex;
                    background: #F1F1F1;
                    border-radius: 6px;
                    border: none;
                    padding: 17px;
                    outline: none;
                    font: normal 16px "Gilroy Regular";
                    color: #595959;
                    &::placeholder {
                        color: #A8A8A8;
                    }
                    &.center {
                        text-align: center;
                    }
                }
                > .button {
                    display: inline-flex;
                    border-radius: 10px;
                    background: #137E7E;
                    color: white;
                    justify-content: center;
                    padding: 15px 20px;
                    max-width: 50%;
                    cursor: pointer;
                    outline: none;
                    border: none;
                    font: normal 16px "Gilroy Regular";
                }
            }
            > .messages {
                display: flex;
                height: 300px;
                opacity: 1;
                overflow: auto;
                padding-right: 5px;
                &::-webkit-scrollbar {
                    width: 8px;
                }
                &::-webkit-scrollbar-track {
                    background: #f0f0f0;
                    border-radius: 4px;
                }
                &::-webkit-scrollbar-thumb {
                    background: #d3d3d3;
                    border-radius: 4px;
                }
                > .list {
                    display: flex;
                    flex-direction: column;
                    gap: 14px;
                    width: 100%;
                    > .item {
                        display: flex;
                        > .container {
                            display: flex;
                            flex-direction: column;
                            gap: 7px;
                            > .name {
                                font: normal 14px "Gilroy Regular";
                                color: #8894A0;
                            }
                            > .content {
                                display: flex;
                                background: #F1F0F0;
                                border-radius: 8px;
                                padding: 7px 11px;
                                gap: 16px;
                                align-items: flex-end;
                                > .text {
                                    padding: 7px 0px;
                                    padding-left: 7px;
                                    font: normal 16px "Gilroy Regular";
                                    color: #606060;
                                }
                                > .time {
                                    font: normal 13px "Gilroy Regular";
                                    color: rgba(96, 96, 96, 0.72);
                                }
                            }
                        }
                        &.my {
                            justify-content: flex-end;
                            > .container {
                                > .content {
                                    background: #18C139;
                                    > .text {
                                        color: white;
                                    }
                                    > .time {
                                        color: rgba(255, 255, 255, 0.72);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            > .input {
                display: flex;
                margin-top: 47px;
                justify-content: space-between;
                border-radius: 6px;
                background: #F1F1F1;
                padding: 9px 12px;
                > .content {
                    display: inline-flex;
                    width: 100%;
                    border: none;
                    background: none;
                    outline: none;
                    padding-left: 7px;
                    font: normal 16px "Gilroy Regular";
                    color: #606060;
                    &::placeholder {
                        color: #A8A8A8;
                    }
                }
                > .send {
                    display: inline-flex;
                    width: 37px;
                    height: 37px;
                    background: url("./assets/send.png");
                    border: none;
                    cursor: pointer;
                    opacity: 0.8;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}