@font-face {
    font-family: "Gilroy Regular";
    src: url("../../fonts/Gilroy-Regular.ttf");
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFE5E5;
    height: 190px;
    font: normal 60px "Gilroy Regular";
    color: #C52B2B; 
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFEEB;
    font: normal 60px "Gilroy Regular";
    color: #A1A41C;
    height: 991px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E9E5FF;
    font: normal 60px "Gilroy Regular";
    color: #2B3AC5;
    height: 190px;
}