@font-face {
    font-family: "Gilroy Regular";
    src: url("../../fonts/Gilroy-Regular.ttf");
}

@font-face {
    font-family: "Gilroy Medium";
    src: url("../../fonts/Gilroy-Medium.ttf");
}

@font-face {
    font-family: "Gilroy Bold";
    src: url("../../fonts/Gilroy-Bold.ttf");
}


html {
    background: #F6F6F6;
}

.support-panel {
    * {
        box-sizing: border-box;
    }
    > .header {
        display: flex;
        justify-content: center;
        background: #137E7E;
        padding: 12px 0px;
        .logo {
            display: inline-flex;
            width: 70px;
            height: 70px; 
            background: url("./assets/logo.png");
        }
    }
    > .main {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        > .section {
            display: flex;
            &.center {
                justify-content: center;
            }
            .block {
                display: flex;
                flex-direction: column;
                background: white;
                border-radius: 10px;
                box-shadow: 5px 5px 82px rgba(0, 0, 0, 0.13);
                padding: 33px;
                &.form {
                    display: flex;
                    flex-direction: column;
                    gap: 18px;
                    width: 400px;
                    > .title {
                        margin: 0px;
                        font: normal 20px "Gilroy Regular";
                        color: #595959;
                        text-align: center;
                    }
                    > .text-input {
                        display: inline-flex;
                        background: #F1F1F1;
                        border: none;
                        border-radius: 6px;
                        padding: 17px 22px;
                        outline: none;
                        font: normal 16px "Gilroy Regular";
                        color: #595959;
                        &::placeholder {
                            color: #A8A8A8;
                        }
                    }
                    > .button {
                        display: inline-flex;
                        justify-content: center;
                        background: #137E7E;
                        color: white;
                        font: normal 16px "Gilroy Regular";
                        border: none;
                        border-radius: 10px;
                        padding: 16px;
                        cursor: pointer;
                    }
                    > .output {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        > .alert {
                            display: flex;
                            background: #FFEAEA;
                            border-radius: 6px;
                            padding: 14px 18px;
                            color: #A73D3D;
                            font: normal 16px "Gilroy Regular";
                        }
                    }
                }
            }
        }
        &.panel {
            > .section.main {
                display: flex;
                justify-content: center;
                > .container {
                    display: flex;
                    width: 1300px;
                    gap: 40px;
                    > .nav {
                        display: flex;
                        flex-direction: column;
                        gap: 16px;
                        width: 350px;
                        flex-shrink: 0;
                        padding: 20px 26px;
                        > .supporter {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            background: #F4F4F4;
                            border-radius: 10px;
                            padding: 12px 17px;
                            > .left {
                                display: flex;
                                gap: 18px;
                                > .photo {
                                    width: 40px;
                                    height: 40px;
                                }
                                > .right {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 3px;
                                    > .name {
                                        font: normal 14px "Gilroy Regular";
                                        color: #444444;
                                    }
                                    > .role {
                                        font: normal 14px "Gilroy Regular";
                                        color: rgba(68, 68, 68, 0.6);
                                    }
                                }
                            }
                            > .logout {
                                display: inline-flex;
                                width: 16px;
                                height: 16px;
                                background: url("./assets/supporter-logout.png");
                                border: none;
                                cursor: pointer;
                                opacity: 0.8;
                                &:hover {
                                    opacity: 1;
                                }
                            }
                        }
                        > .links {
                            display: flex;
                            flex-direction: column;
                            gap: 12px;
                            > .link {
                                display: flex;
                                align-items: center;
                                gap: 14px;
                                background: #F4F4F4;
                                border-radius: 8px;
                                padding: 12px 16px;
                                text-decoration: none;
                                color: #484848;
                                font: normal 14px "Gilroy Regular";
                                > .icon {
                                    display: inline-flex;
                                    width: 20px;
                                    fill: #484848;
                                }
                                > .text {
                                    > .bold {
                                        font: normal 14px "Gilroy Medium";
                                        color: #A92929;
                                    }
                                }
                                &.active {
                                    background: #565656;
                                    color: white;
                                    cursor: default;
                                    > .icon {
                                        fill: white;    
                                    }
                                }
                                &.disabled {
                                    cursor: not-allowed;
                                }
                            }
                        }
                    }
                    > .dialogs {
                        display: flex;
                        flex-direction: column;
                        gap: 14px;
                        width: 100%;
                        > .title {
                            font: normal 18px "Gilroy Regular";
                            color: #484848;
                            margin: 0px;
                        }
                        > .block.empty {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 30px;
                            height: 475px;
                            > .image {
                                display: flex;
                                width: 100px;
                                height: 100px;
                                background: url("./assets/dialogs-empty.png");   
                            }
                            > .title {
                                display: flex;
                                margin: 0px;
                                color: #137E7E;
                                font: normal 20px "Gilroy Regular";
                            }
                        } 
                        > .block.list {
                            display: flex;
                            flex-direction: row;
                            gap: 40px;
                            padding: 21px;
                            > .nav {
                                display: flex;
                                flex-direction: column;
                                gap: 17px;
                                > .dialog {
                                    display: flex;
                                    justify-content: space-between;
                                    background: #F4F4F4;
                                    border-radius: 8px;
                                    padding: 9px 11px;
                                    cursor: pointer;
                                    width: 278px;
                                    > .left {
                                        display: flex;
                                        gap: 25px;
                                        > .photo {
                                            display: inline-flex;
                                            width: 50px;
                                            height: 50px;
                                        }
                                        > .right {
                                            display: flex;
                                            flex-direction: column;
                                            gap: 6px;
                                            > .name {
                                                font: normal 14px "Gilroy Bold";
                                                color: #484848;
                                            }
                                            > .message {
                                                font: normal 14px "Gilroy Regular";
                                                color: #484848;
                                            }
                                        }
                                    }
                                    > .right {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-end;
                                        gap: 9px;
                                        > .time {
                                            color: rgba(72, 72, 72, 0.68);
                                            font: normal 12px "Gilroy Regular";
                                        }
                                        > .count {
                                            display: inline-flex;
                                            justify-content: center;
                                            align-items: center;
                                            background: #FF5849;
                                            height: 20px;
                                            min-width: 20px;
                                            border-radius: 10px;
                                            font: normal 12px "Gilroy Medium";
                                            color: white;
                                        }
                                    }
                                    &.active {
                                        background: #137E7E;
                                        cursor: default;
                                        > .left {
                                            > .right {
                                                > .name,
                                                > .message {
                                                    color: white;
                                                }
                                            }
                                        }
                                        > .right {
                                            > .time {
                                                color: rgba(255, 255, 255, 0.68);
                                            }
                                        }
                                    }
                                }
                            }
                            > .chat {
                                display: flex;
                                flex-direction: column;
                                width: 100%;
                                > .top {
                                    display: flex;
                                    cursor: default;
                                    margin-bottom: 20px;
                                    > .user {
                                        display: flex;
                                        align-items: center;
                                        gap: 15px;
                                        > .photo {
                                            display: inline-flex;
                                            width: 35px;
                                            height: 35px;
                                        }
                                        > .name {
                                            font: normal 15px "Gilroy Medium";
                                            color: #444444;
                                        }
                                    }
                                }
                                > .messages {
                                    display: flex;
                                    height: 400px;
                                    opacity: 1;
                                    overflow: auto;
                                    padding-top: 30px;
                                    padding-right: 5px;
                                    &::-webkit-scrollbar {
                                        width: 8px;
                                    }
                                    &::-webkit-scrollbar-track {
                                        background: #f0f0f0;
                                        border-radius: 4px;
                                    }
                                    &::-webkit-scrollbar-thumb {
                                        background: #d3d3d3;
                                        border-radius: 4px;
                                    }
                                    > .list {
                                        display: flex;
                                        flex-direction: column;
                                        gap: 14px;
                                        width: 100%;
                                        > .item {
                                            display: flex;
                                            > .container {
                                                display: flex;
                                                flex-direction: column;
                                                gap: 7px;
                                                > .name {
                                                    font: normal 14px "Gilroy Regular";
                                                    color: #8894A0;
                                                }
                                                > .content {
                                                    display: flex;
                                                    background: #F1F0F0;
                                                    border-radius: 8px;
                                                    padding: 7px 11px;
                                                    gap: 16px;
                                                    align-items: flex-end;
                                                    > .text {
                                                        padding: 7px 0px;
                                                        padding-left: 7px;
                                                        font: normal 16px "Gilroy Regular";
                                                        color: #606060;
                                                    }
                                                    > .time {
                                                        font: normal 13px "Gilroy Regular";
                                                        color: rgba(96, 96, 96, 0.72);
                                                    }
                                                }
                                            }
                                            &.my {
                                                justify-content: flex-end;
                                                > .container {
                                                    > .content {
                                                        background: #18C139;
                                                        > .text {
                                                            color: white;
                                                        }
                                                        > .time {
                                                            color: rgba(255, 255, 255, 0.72);
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                > .input {
                                    display: flex;
                                    margin-top: 47px;
                                    justify-content: space-between;
                                    border-radius: 6px;
                                    background: #F1F1F1;
                                    padding: 9px 12px;
                                    > .content {
                                        display: inline-flex;
                                        width: 100%;
                                        border: none;
                                        background: none;
                                        outline: none;
                                        padding-left: 7px;
                                        font: normal 16px "Gilroy Regular";
                                        color: #606060;
                                        &::placeholder {
                                            color: #A8A8A8;
                                        }
                                    }
                                    > .send {
                                        display: inline-flex;
                                        width: 37px;
                                        height: 37px;
                                        background: url("./assets/send.png");
                                        border: none;
                                        cursor: pointer;
                                        opacity: 0.8;
                                        &:hover {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}